.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-self: center;
    align-self: center;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--clr1bg);
    border-radius: 8px;
    width: 45%;
}

.user-details h3 {
    color: var(--clr1);
    font-size: 2em;
}

.user-details h4 {
    color: var(--clr2);
}

p{
    margin-top: 15px;
}

.user-details img {
    max-width: 200px;
    display: block;
    margin: auto;
}
