.user-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.user-preview h4 {
    text-transform: capitalize;
    color: black;
}

.user-preview img {
    max-width: 100px;
}
