.user-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.user-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr1bg);

    a {
        color: var(--clr2bg);
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }
}
