/* Setup */

@import "setup/vars.css";
@import "setup/typography.css";

/* Base */

@import "base/base.css";
@import "base/helpers.css";
@import "base/layout.css";
@import "base/forms.css";

/* Components */

@import "cmps/AppHeader.css";
@import "cmps/AppFooter.css";
@import "cmps/Home.css";
@import "cmps/BugIndex.css";
@import "cmps/UserMsg.css";
@import "cmps/BugList.css";
@import "cmps/BugPreview.css";
@import "cmps/BugDetails.css";


.main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main-app > main {
    flex-grow: 1;
}