.main-layout {
    display: grid;
    grid-template-columns: 1.6rem 1fr 1.6rem;
}

.main-layout > * {
    grid-column: 2;
}

.main-layout .full {
    grid-column: 1/-1;
}

.container {
    padding-inline: 2rem;
}
